<div class="row m-0 w-100 mt-4 mb-4 userPageBlock">

	<div class="col-12 col-lg-3 mb-2 mb-md-0 userInfoBlock">
		<div class="userInfo d-flex flex-column justify-content-start">
			<span class="styleForUserInfo">Name: {{user_name}}</span>
			<span class="styleForUserInfo">test2020email@gmail.com</span>
			<span class="styleForUserInfo countsStyle">Notice count <mat-icon matBadge={{this.noticeCount}} matBadgeOverlap="true">assignment</mat-icon></span>
			<button mat-raised-button class="logoutUserBtn">Logout</button>
		</div>
	</div>

	<div class="col-12 col-lg-6 mb-2 mb-md-0 userDataAndNotice">

		<mat-accordion>

			<mat-expansion-panel class="mb-2">
				<mat-expansion-panel-header>
					<mat-panel-title>
						Personal data
					</mat-panel-title>
				</mat-expansion-panel-header>



				<div class="dataFilds w-100 d-flex mb-3 align-items-center justify-content-start">

					<form class="upDataUserInfoFrom d-flex flex-column justify-content-start w-100"
						[formGroup]="updateUser" action="" method="POST" (ngSubmit)="onUpdataUser()">
						<p class="mb-2 succesUpdate" *ngIf="isUserUpdata" >Profile is updated.</p>

						<p class="mb-2">*Name must contain at least 3 charts</p>
						<mat-form-field appearance="outline">
							<mat-label>Name:</mat-label>
							<input type="text" matInput placeholder="Name" formControlName="user_name" value={{currentUser.name}}>
						</mat-form-field>

						<p class="mb-2">*Phone must bee valid</p>
						<mat-form-field appearance="outline">
							<mat-label>Phone:</mat-label>
							<input type="text" matInput placeholder="Phone: 0669966999" formControlName="user_phone" value={{currentUser.phone}} >
						</mat-form-field>

						<div class="d-flex w-100 align-items-center justify-content-start">
							<button mat-raised-button class="upDataUserBtn" [disabled]="!updateUser.valid">Update profile</button>
						</div>

					</form>

				</div>

			</mat-expansion-panel>

			<mat-expansion-panel class="mb-2" [expanded]="true">
				<mat-expansion-panel-header>
					<mat-panel-title>
						Create notice
					</mat-panel-title>
				</mat-expansion-panel-header>

				<div class="createNoticeBlock w-100">

					<p class="mb-3 succesCreate" *ngIf="isUserNoticeCreate" >Notice is successfull created.</p>

					<form class="crateNoticeFrom d-flex flex-column justify-content-start w-100" method="POST" [formGroup]="crateNoticeFrom" (ngSubmit)="createUserNotice()">

						<span class="mb-3" >*Title must have at least 5 charts</span>
						<mat-form-field class="headingInputBlock" appearance="outline">
							<mat-label>Notice title:</mat-label>
							<input type="text" matInput placeholder="Title" formControlName="notice_title" required>
						</mat-form-field>

						<span class="mb-3" >*Description must contain at least 120 charts</span>
						<mat-form-field appearance="outline">
							<mat-label>Notice description:</mat-label>
							<textarea matInput placeholder="Description" formControlName="notice_text" required></textarea>
						</mat-form-field>

						<div class="d-flex w-100 align-items-center justify-content-start">
							<button mat-raised-button class="createNoticeBtn" [disabled]="!crateNoticeFrom.valid" >Create notice</button>
						</div>

					</form>

				</div>


			</mat-expansion-panel>

			<mat-expansion-panel class="mb-2">
				<mat-expansion-panel-header>
					<mat-panel-title>
						My notice
					</mat-panel-title>
				</mat-expansion-panel-header>

				<div class="allMyNotice col-12 p-0">

					<div class="myNotice mb-3 d-flex flex-column justify-content-start" *ngFor="let notice of currentUser.notices ; let i = index" id={{notice.id}}>
						<div class="headingInformation d-flex align-items-center justify-content-between">
							<span class="titleNotice">{{notice.title}}</span>
							<span class="dateCreatedNotice">{{notice.createdAt | date }}</span>
						</div>
						<p class="textStyleNotice">{{notice.text}}</p>
						<div class="d-flex w-100 align-items-center justify-content-start">
							<span><b>Is notice published : {{ notice.published }}</b></span>
						</div>
						<div class="buttonBlockForEdit d-flex align-items-center justify-content-start mt-2">
							<button mat-raised-button class="editBtnStyle deleteStyle" (click)="deleteNotice(notice.id)">Delete</button>
							<button mat-raised-button class="editBtnStyle updateStyle" (click)="updataNoticeTime(notice.id)">Updata date</button>
						</div>
					</div>

				</div>

			</mat-expansion-panel>

			<mat-expansion-panel class="mb-2">
				<mat-expansion-panel-header>
					<mat-panel-title>
						Change password
					</mat-panel-title>
				</mat-expansion-panel-header>

				<div class="changePasswordBlock w-100 d-flex flex-column justify-content-start">

					<span class="requiredDataToEnterClass mb-2 w-100 text-left">*Password must contain 1-Lowercase, 1-Uppercase, 1-Number , at least 5 charts.</span>

					<form class="changePasswordForm d-flex flex-column justify-content-start" method="POST" [formGroup]="passwordForm" (ngSubmit)="changePassword()">

						<mat-form-field appearance="outline">
							<mat-label>New password:</mat-label>
							<input type="password" matInput placeholder="New password" formControlName="new_password" required>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Repeat new password:</mat-label>
							<input type="password" matInput placeholder="Re-new password" formControlName="re_new_password" required>
						</mat-form-field>

						<div class="d-flex align-items-center justify-content-start w-100">
							<button mat-raised-button class="changePassBtn" [disabled]="!passwordForm.valid">Change password</button>
						</div>

					</form>

				</div>
			</mat-expansion-panel>

		</mat-accordion>

	</div>
	
	<div class="col-12 pl-0 pl-lg-3 col-lg-3 mb-2 mb-md-0">
		<app-pay-notice-block></app-pay-notice-block>
	</div>

</div>