
@border-left: 1px solid rgba(51, 51, 51, 1);
@white-color-text: rgba(255, 255, 255, 1);
@blue-color-heading: rgba(0, 123, 255, 1);

.title-style-class{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.btn-style-all{
    width: 50%;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background: rgba(102, 163, 255, 1);
    color: @white-color-text;
    font-size: 16px;
    line-height: 18px;
    outline: none;

    @media (max-width:767px) {
        width: 100%;
    }
}

.style-for-notice-btn{
    outline: none;
    opacity: .5;
    transition: all .5s;

    &:hover{
        opacity: 1;
        transition: all .5s;
    }
}

.succesUpdate{
    width: 100%;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    background-color: rgba(0, 97, 0, 0.7);
    color: rgba(253, 253, 253 , 1);
}

.succesCreate{
    width: 100%;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    background-color: rgba(0, 97, 0, 0.7);
    color: rgba(253, 253, 253 , 1);
}

.userPageBlock{

    mat-panel-title{
        .title-style-class();
    }

    .userInfoBlock{
        border-left: @border-left;

        .styleForUserInfo{
            margin: 10px 0px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 500;
        }
        .countsStyle{
            position: relative;

            mat-icon{
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(-50%;-50%);
            }
        }

        .logoutUserBtn{
            margin: 10px 0;
            width: 50%;
            color: @white-color-text;
            background: rgba(194, 0, 0, 0.5);
            transition: all .5s;
            outline: none;

            &:hover{
                background: rgba(204, 0, 0, 1);
                transition: all .3s;
            }
        }

        @media (max-width:767px) {
            border-left: 0;
        }
    }

    .userDataAndNotice{
        border-left: @border-left;

        @media (max-width: 767px) {
            border-left: 0;
        }

        .allMyNotice{
            .myNotice{
                padding: 0px 10px;
                border-left: 1px solid rgba(51, 51, 51, 1);
            }

            .headingInformation{
                margin-bottom: 8px;
            }

            .titleNotice{
                font-size: 17px;
                line-height: 19px;
                font-weight: 500;
                color: @blue-color-heading;
            }

            .dateCreatedNotice{
                font-size: 16px;
                font-weight: 500;
            }

            .textStyleNotice{
                margin-bottom: 0;
            }

            .editStyle{
                background: rgba(45, 134, 45, 1);
                color: @white-color-text;

                .style-for-notice-btn();
            }

            .deleteStyle{
                background: rgba(204, 0, 0, 1);
                color: @white-color-text;

                .style-for-notice-btn();
            }

            .updateStyle{
                background: rgba(102, 163, 255, 1);
                color: @white-color-text;

                .style-for-notice-btn();
            }

            .editBtnStyle{
                margin-right: 25px;

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    .dataFilds{
        .upDataUserInfoFrom{
            mat-form-field{
                min-width: 120px;
                width: 50%;
    
                &:last-child{
                    margin-right: 0;
                }

                @media (max-width:767px) {
                    width: 100%;
                }
            }

            .upDataUserBtn{
                .btn-style-all();
            }
        }
    }

    .changePasswordBlock{
        .changePasswordForm{

            mat-form-field{
                min-width: 120px;
                width: 50%;
    
                &:last-child{
                    margin-right: 0;
                }

                @media (max-width:767px) {
                    width: 100%;
                }
            }

            .changePassBtn{
                .btn-style-all();
            }
        }
    }

    .createNoticeBlock{
        .crateNoticeFrom{
            .headingInputBlock{
                width: 100%;
            }
            .emailInputBlock {
                width: 48%;

                @media (max-width:767px) {
                    width: 100%;
                }
            }
            .phoneInputBlock{
                width: 48%;

                @media (max-width:767px) {
                    width: 100%;
                }
            }

            .createNoticeBtn{
                .btn-style-all();

                width:100%;
            }
        }
    }

}