.title-style-class {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.btn-style-all {
  width: 50%;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  background: #66a3ff;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  outline: none;
}
@media (max-width: 767px) {
  .btn-style-all {
    width: 100%;
  }
}
.style-for-notice-btn {
  outline: none;
  opacity: 0.5;
  transition: all 0.5s;
}
.style-for-notice-btn:hover {
  opacity: 1;
  transition: all 0.5s;
}
.succesUpdate {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  background-color: rgba(0, 97, 0, 0.7);
  color: #fdfdfd;
}
.succesCreate {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  background-color: rgba(0, 97, 0, 0.7);
  color: #fdfdfd;
}
.userPageBlock mat-panel-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.userPageBlock .userInfoBlock {
  border-left: 1px solid #333333;
}
.userPageBlock .userInfoBlock .styleForUserInfo {
  margin: 10px 0px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.userPageBlock .userInfoBlock .countsStyle {
  position: relative;
}
.userPageBlock .userInfoBlock .countsStyle mat-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.userPageBlock .userInfoBlock .logoutUserBtn {
  margin: 10px 0;
  width: 50%;
  color: #ffffff;
  background: rgba(194, 0, 0, 0.5);
  transition: all 0.5s;
  outline: none;
}
.userPageBlock .userInfoBlock .logoutUserBtn:hover {
  background: #cc0000;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .userPageBlock .userInfoBlock {
    border-left: 0;
  }
}
.userPageBlock .userDataAndNotice {
  border-left: 1px solid #333333;
}
@media (max-width: 767px) {
  .userPageBlock .userDataAndNotice {
    border-left: 0;
  }
}
.userPageBlock .userDataAndNotice .allMyNotice .myNotice {
  padding: 0px 10px;
  border-left: 1px solid #333333;
}
.userPageBlock .userDataAndNotice .allMyNotice .headingInformation {
  margin-bottom: 8px;
}
.userPageBlock .userDataAndNotice .allMyNotice .titleNotice {
  font-size: 17px;
  line-height: 19px;
  font-weight: 500;
  color: #007bff;
}
.userPageBlock .userDataAndNotice .allMyNotice .dateCreatedNotice {
  font-size: 16px;
  font-weight: 500;
}
.userPageBlock .userDataAndNotice .allMyNotice .textStyleNotice {
  margin-bottom: 0;
}
.userPageBlock .userDataAndNotice .allMyNotice .editStyle {
  background: #2d862d;
  color: #ffffff;
  outline: none;
  opacity: 0.5;
  transition: all 0.5s;
}
.userPageBlock .userDataAndNotice .allMyNotice .editStyle:hover {
  opacity: 1;
  transition: all 0.5s;
}
.userPageBlock .userDataAndNotice .allMyNotice .deleteStyle {
  background: #cc0000;
  color: #ffffff;
  outline: none;
  opacity: 0.5;
  transition: all 0.5s;
}
.userPageBlock .userDataAndNotice .allMyNotice .deleteStyle:hover {
  opacity: 1;
  transition: all 0.5s;
}
.userPageBlock .userDataAndNotice .allMyNotice .updateStyle {
  background: #66a3ff;
  color: #ffffff;
  outline: none;
  opacity: 0.5;
  transition: all 0.5s;
}
.userPageBlock .userDataAndNotice .allMyNotice .updateStyle:hover {
  opacity: 1;
  transition: all 0.5s;
}
.userPageBlock .userDataAndNotice .allMyNotice .editBtnStyle {
  margin-right: 25px;
}
.userPageBlock .userDataAndNotice .allMyNotice .editBtnStyle:last-child {
  margin-right: 0;
}
.userPageBlock .dataFilds .upDataUserInfoFrom mat-form-field {
  min-width: 120px;
  width: 50%;
}
.userPageBlock .dataFilds .upDataUserInfoFrom mat-form-field:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .userPageBlock .dataFilds .upDataUserInfoFrom mat-form-field {
    width: 100%;
  }
}
.userPageBlock .dataFilds .upDataUserInfoFrom .upDataUserBtn {
  width: 50%;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  background: #66a3ff;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  outline: none;
}
@media (max-width: 767px) {
  .userPageBlock .dataFilds .upDataUserInfoFrom .upDataUserBtn {
    width: 100%;
  }
}
.userPageBlock .changePasswordBlock .changePasswordForm mat-form-field {
  min-width: 120px;
  width: 50%;
}
.userPageBlock .changePasswordBlock .changePasswordForm mat-form-field:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .userPageBlock .changePasswordBlock .changePasswordForm mat-form-field {
    width: 100%;
  }
}
.userPageBlock .changePasswordBlock .changePasswordForm .changePassBtn {
  width: 50%;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  background: #66a3ff;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  outline: none;
}
@media (max-width: 767px) {
  .userPageBlock .changePasswordBlock .changePasswordForm .changePassBtn {
    width: 100%;
  }
}
.userPageBlock .createNoticeBlock .crateNoticeFrom .headingInputBlock {
  width: 100%;
}
.userPageBlock .createNoticeBlock .crateNoticeFrom .emailInputBlock {
  width: 48%;
}
@media (max-width: 767px) {
  .userPageBlock .createNoticeBlock .crateNoticeFrom .emailInputBlock {
    width: 100%;
  }
}
.userPageBlock .createNoticeBlock .crateNoticeFrom .phoneInputBlock {
  width: 48%;
}
@media (max-width: 767px) {
  .userPageBlock .createNoticeBlock .crateNoticeFrom .phoneInputBlock {
    width: 100%;
  }
}
.userPageBlock .createNoticeBlock .crateNoticeFrom .createNoticeBtn {
  width: 50%;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  background: #66a3ff;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  width: 100%;
}
@media (max-width: 767px) {
  .userPageBlock .createNoticeBlock .crateNoticeFrom .createNoticeBtn {
    width: 100%;
  }
}
