<div class="d-flex justify-content-center align-content-center w-100 h-100 mt-5 mb-5">
    <div class="notFoundPage d-flex flex-column align-content-center justify-content-center my-4">
        <h1 class="text-uppercase text-center text404">404</h1>
        <p class="text-uppercase text-center notFoundText">Page not found</p>
    </div>
</div>
