.notFoundPage{
    width: 500px;
    height: 500px;

    @media (max-width: 560px) {
        width: 100%;
        height: 200px;
    }

    .text404{
        color: rgba(51, 51, 51, 1);
        font-size: 260px;

        @media (max-width: 560px) {
            font-size: 60px;
        }
    }

    .notFoundText{
        font-size: 45px;
        color: rgba(51, 51, 51, 1);
        @media (max-width: 560px) {
            font-size: 20px;
        }
    }
}