.notFoundPage {
  width: 500px;
  height: 500px;
}
@media (max-width: 560px) {
  .notFoundPage {
    width: 100%;
    height: 200px;
  }
}
.notFoundPage .text404 {
  color: #333333;
  font-size: 260px;
}
@media (max-width: 560px) {
  .notFoundPage .text404 {
    font-size: 60px;
  }
}
.notFoundPage .notFoundText {
  font-size: 45px;
  color: #333333;
}
@media (max-width: 560px) {
  .notFoundPage .notFoundText {
    font-size: 20px;
  }
}
