.header-nav {
  width: 100%;
  padding: 20px 20px;
  overflow: hidden;
  z-index: 2;
  background: #000000;
}
@media (max-width: 767px) {
  .header-nav {
    padding: 10px 0px;
  }
}
.header-nav .logoBlock .logoText {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Federant';
  text-decoration: none;
  padding-left: 10px;
  border-left: 4px solid;
}
@media (max-width: 767px) {
  .header-nav .logoBlock .logoText {
    font-size: 20px;
    padding-left: 0;
    border-left: 0;
  }
}
.header-nav .navBlock .styleBtn {
  margin-right: 35px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 0;
  padding: 5px 10px;
  color: #ffffff;
  outline: none;
  background: transparent;
  min-height: 50px;
  text-decoration: none;
}
.header-nav .navBlock .styleBtn fa-icon {
  margin-right: 8px;
}
.header-nav .navBlock .styleBtn:hover {
  border-bottom: 2px solid #ffffff;
}
.header-nav .navBlock .styleBtn:last-child {
  margin-right: 0;
}
.header-nav .menuBtnStyle {
  background: #66a3ff;
  outline: none;
  color: #ffffff;
}
.header-nav .menuBtnStyle fa-icon {
  color: #ffffff;
  font-size: 18px;
}
.header-nav .menuBtnStyle mat-menu-content {
  padding: 0;
}
.header-nav .menuBtnStyle .actionList {
  outline: none;
}
