
.header-nav {
    width: 100%;
    padding: 20px 20px;
    overflow: hidden;
    z-index: 2;
    background: rgb( 0, 0, 0, 1 );

    @media (max-width:767px) {
        padding: 10px 0px;
    }

    .logoBlock{
        .logoText{
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Federant';
            text-decoration: none;
            padding-left: 10px;
            border-left: 4px solid;

            
            @media (max-width:767px) {
                font-size: 20px;
                padding-left: 0;
                border-left: 0;
            }
        }
    }

    .navBlock {
        .styleBtn {
            margin-right: 35px;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border: 0;
            padding: 5px 10px;
            color: rgba(255, 255, 255, 1);
            outline: none;
            background: transparent;
            min-height: 50px;
            text-decoration: none;

            fa-icon{
                margin-right: 8px;
            }

            &:hover{
                border-bottom: 2px solid rgba(255, 255, 255, 1);
            }

            &:last-child {
                margin-right: 0;
            }
        }

    }
    
    .menuBtnStyle{
        background: rgba(102, 163, 255, 1);
        outline: none;
        color: rgba(255, 255, 255, 1);

        fa-icon{
            color: rgba(255, 255, 255, 1);
            font-size: 18px;
        }

        mat-menu-content{
            padding: 0;
        }
        
        .actionList{
            outline: none;
        }
    }
}
