


<header class="header-nav">

    <div class="container-fluid container-lg p-0">
        <div class="col-12 d-flex align-items-center justify-content-between head-nav">

            <div class="logoBlock d-flex align-items-center justify-content-center">
                <a class="logoText" routerLink="/" >
                    notice world
                </a>
            </div>
        
            <div class="navPageBlock d-flex">
                <div class="navBlock row m-0">
                    <a routerLink="/login" class="styleBtn d-flex align-items-center justify-content-center"> Login</a>
                    <a routerLink="/register" class="styleBtn d-flex align-items-center justify-content-center"> Register</a>
                </div>
            </div>

        </div>
    </div>

</header>