footer {
  background: #000000;
  color: #ffffff;
  margin-top: 20px;
  padding: 15px 0;
  position: relative;
}
footer .headingTextInFooter {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
footer .connectionBlock ul li {
  margin-bottom: 10px;
}
footer .connectionBlock ul li:last-child {
  margin-bottom: 0;
}
footer .connectionBlock ul li mat-icon {
  margin-right: 10px;
}
footer .subscribeFromFooter #subscribeInput {
  border: 0;
  border-radius: 5px;
  padding: 10px;
}
footer .subscribeFromFooter #subscribeInput:focus {
  outline: none;
}
footer .subscribeFromFooter .submitBtn {
  border: 0;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  background: #66a3ff;
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 18px;
}
footer .subscribeFromFooter .submitBtn:focus {
  outline: none;
}
footer .infoBlockForEmialSubscribe {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 25px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
}
footer .wrapForSubsInput mat-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-58%);
  color: #000000;
  transition: 0.3s;
}
footer .wrapForSubsInput:hover mat-icon {
  color: #66a3ff;
  transition: 0.3s;
}
footer .greenBack {
  background: #009900;
  color: #ffffff;
}
footer .redBack {
  background: #ff0202;
  color: #ffffff;
}
