<footer class="w-100">
    <div class="container-fluid container-lg p-0">
        <div class="row m-0 mt-md-4 mb-md-4 w-100">
            <div class="col-md-4 col-12 mt-3 mt-md-0 text-left connectionBlock">
                <p class="headingTextInFooter">Support contact</p>
                <ul class="list-unstyled">
                    <li class="d-flex align-items-center"> <mat-icon>call</mat-icon> Phone: +38 066 666 66 66</li>
                    <li class="d-flex align-items-center"> <mat-icon>call</mat-icon> Phone: +38 077 777 77 77</li>
                    <li class="d-flex align-items-center"> <mat-icon> email</mat-icon> Email:  somesupport@email.com</li>
                </ul>
            </div>
            <div class="col-md-4 col-12 mt-3 mt-md-0 text-left">
                <p class="headingTextInFooter">Some info</p>
                <div class="row m-0 w-100">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="col-md-4 col-12 mt-3 mt-md-0 text-left">
                <p class="headingTextInFooter">Subscribe form</p>
                
                <form (ngSubmit)="submitAction()" class="d-flex flex-column subscribeFromFooter" [formGroup]="submitForm" action="" method="POST">

                    <label>Subscribe now</label>
                    <span *ngIf="!submitForm.get('email').valid && submitForm.get('email').touched" class="needDataToEnterClass mb-2">Email is required</span>

                    <div class="w-100 d-flex position-relative wrapForSubsInput">
                        <input id="subscribeInput" class="mb-2 w-100" type="email" formControlName="email" placeholder="email@gmail.com" >
                        <mat-icon>sms</mat-icon>
                    </div>
                    
                    <button type="submit" mat-raised-button class="submitBtn" [disabled]="!submitForm.valid">Submit now</button>

                </form>
            </div>
        </div>
    </div>
</footer>