footer {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    padding: 15px 0;
    position: relative;

    .headingTextInFooter{
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .connectionBlock{
        ul {
            li {
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
                mat-icon{
                    margin-right: 10px;
                }
            }
        }
    }

    .subscribeFromFooter{

        #subscribeInput{
            border: 0;
            border-radius: 5px;
            padding: 10px;

            &:focus{
                outline: none;
            }
        }
        
        .submitBtn{
            border: 0;
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 5px;
            background: rgba(102, 163, 255, 1);
            color: rgba(255, 255, 255, 1);
            letter-spacing: 3px;
            font-size: 16px;
            line-height: 18px;

            &:focus{
                outline: none;
            }
        }
    }

    .infoBlockForEmialSubscribe{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 25px;
        font-size: 18px;
        line-height: 22px;
        border-radius: 5px;
    }

    .wrapForSubsInput{
        mat-icon{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-58%);
            color: rgba(0, 0, 0, 1);
            transition: 0.3s;
        }
        

        &:hover{
            mat-icon{
                color: rgba(102, 163, 255, 1);
                transition: 0.3s;
            }
            
        }
    }

    .greenBack{
        background: rgba(0, 153, 0, 1);
        color: #ffffff;
    }
    .redBack{
        background: rgba(255, 2, 2, 1);
        color: #ffffff;
    }
    
}