



<div class="row m-0 w-100 payNoticeBlock">
    <p class="m-0 mb-1 noticeTypeHeadingStyle">Most popular notice</p>

    <div class="payNoticeBlocks d-flex flex-column w-100 mb-1" *ngFor="let notice of noticesPay; let i = index;" id={{notice.id}}>
        <a class="w-100 text-left mb-2 payNoticeHeding" routerLink="/home/published/{{notice.id}}" routerLinkActive="active"><span>{{notice.title}}</span> <mat-icon>event_note</mat-icon></a>
        <p class="m-0 payNoticeText">{{notice.text}}</p>
    </div>
    
</div>