<div class="row m-0 mb-3 mt-3 adminPage">
	<div class="col-12 mb-2 mb-lg-0 newNoticeWrapper">
		<div class="d-flex flex-column w-100">
			<h3 class="noticeHeading">New Notice</h3>

			<mat-accordion>

				<mat-expansion-panel class="w-100" *ngFor="let notices of allNotices;" id={{notices.id}}>

					<mat-expansion-panel-header>
						<mat-panel-title class="d-flex align-items-center justify-content-between">
							<span>{{ notices.title }}</span>
							<span>{{ notices.createdAt | date }}</span>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<p>{{ notices.text }}</p>

					<div
						class="d-flex flex-column flex-md-row align-items-center justify-content-start actionButtoBlock">
						<button mat-raised-button class="btnMargin approvBtn" (click)="updataStatus(notices.id , true)">Approval</button>
						<button mat-raised-button class="btnMargin deleteBtn" (click)="deleteNotice(notices.id)">Delete</button>
					</div>

				</mat-expansion-panel>

				<div class="dontHaveUnpublishedNotice w-100" *ngIf="!noticesCount">
					<p>
						All notice <span class="someStyle">published</span>.
					</p>
				</div>

			</mat-accordion>
		</div>
	</div>
	
</div>