.status-text-style {
  padding: 2px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
}
.mailBtnStyle {
  color: #ffffff;
  font-size: 15px;
  outline: none;
}
.adminPage {
  min-height: 70vh;
}
.adminPage .newNoticeWrapper,
.adminPage .decNoticeWrapper {
  border-left: 1px solid #333333;
}
@media (max-width: 767px) {
  .adminPage .newNoticeWrapper,
  .adminPage .decNoticeWrapper {
    border-left: 0;
  }
}
.adminPage .noticeHeading {
  font-size: 20px;
  line-height: 22px;
}
.adminPage mat-panel-title {
  font-size: 16px;
}
.adminPage .btnMargin {
  margin-bottom: 0;
  margin-right: 10px;
}
.adminPage .btnMargin:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .adminPage .btnMargin {
    margin-bottom: 7px;
  }
}
.adminPage .approvBtn {
  background: #13a113;
  color: #ffffff;
  font-size: 15px;
  outline: none;
}
.adminPage .declinBtn {
  background: #b8b805;
  color: #ffffff;
  font-size: 15px;
  outline: none;
}
.adminPage .reWriteBtn {
  background: #8ebe2e;
  color: #ffffff;
  font-size: 15px;
  outline: none;
}
.adminPage .deleteBtn {
  background: #ce0000;
  color: #ffffff;
  font-size: 15px;
  outline: none;
}
.adminPage .mat-expansion-panel {
  margin-bottom: 8px;
}
.adminPage .mat-expansion-panel:last-child {
  margin-bottom: 0;
}
.adminPage .statusDeclined {
  background: #b8b805;
  padding: 2px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
}
.adminPage .statusReWrite {
  background: #8ebe2e;
  padding: 2px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
}
.adminPage .dontHaveUnpublishedNotice {
  margin: 20px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.adminPage .dontHaveUnpublishedNotice .someStyle {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 35px;
  color: #007c00;
}
