
.status-text-style{
    padding: 2px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
}
.mailBtnStyle{
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    outline: none;
}

@approve-color: rgba(19, 161, 19, 1);
@decline-color: rgba(184, 184, 5, 1);
@re-write-color: rgba(142, 190, 46, 1);
@delete-color: rgba(206, 0, 0, 1);

.adminPage{
    min-height: 70vh;
    .newNoticeWrapper,
    .decNoticeWrapper{
        border-left: 1px solid rgba( 51, 51, 51, 1);

        @media (max-width: 767px) {
            border-left: 0;
        }

    }
    .noticeHeading{
        font-size: 20px;
        line-height: 22px;
    }

    mat-panel-title{
        font-size: 16px;
    }

    .btnMargin{
        margin-bottom: 0;
        margin-right: 10px;

        &:last-child{
            margin-right: 0;
        }

        @media (max-width:767px) {
            margin-bottom: 7px;
        }
    }

    .approvBtn{
        background: rgba(19, 161, 19, 1);
        .mailBtnStyle();
    }

    .declinBtn{
        background: @decline-color;
        .mailBtnStyle();
    }

    .reWriteBtn{
        background: @re-write-color;
        .mailBtnStyle();
    }

    .deleteBtn{
        background: @delete-color;
        .mailBtnStyle();
    }

    .mat-expansion-panel{
        margin-bottom: 8px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .statusDeclined{
        background: @decline-color;
        .status-text-style();
    }

    .statusReWrite{
        background: @re-write-color;
        .status-text-style();
    }

    .dontHaveUnpublishedNotice{
        margin: 20px 0;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;

        .someStyle{
            text-transform: uppercase;
            font-size: 30px;
            line-height: 35px;
            color: rgba(0, 124, 0, 1);
        }
    }
}