

<div class="loginBlock">

    <form class="d-flex flex-column align-items-center justify-content-center" [formGroup]="loginForm" action="" method="POST">
        
        <h3 class="formHeading">Login</h3>
        <p class="generalStatusStyle errorStatus mb-4" *ngIf="errorStatus">Emial or password is invalid</p>

        <mat-form-field appearance="outline">
            <mat-label>Email:</mat-label>
            <input matInput placeholder="email@gmail.com" formControlName="loginEmail" type="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password:</mat-label>
            <input matInput placeholder="Password" formControlName="loginPassword" type="password" required>
        </mat-form-field>

        <div class="w-100 row m-0 mb-1 align-items-center justify-content-between">
            <button class="logRegBtn w-100 d-flex align-items-center justify-content-center" [disabled]="!loginForm.valid" mat-raised-button>Login</button>
        </div>

        <div class="d-flex align-items-center justify-content-start w-100 mt-3 mb-2">
            <button class="restorePassword" mat-button (click)="openDialog()">Restore password</button>
        </div>

    </form>

</div>