

<div class="noticeBlock row m-0 w-100 mt-4 mb-4">

    <div class="col-lg-9 col-md-8 col-12">
        <div class="myNotice"  *ngIf="currentNotice">
            <h2 class="noticeHead">{{currentNotice.title}}</h2>
            <p>{{currentNotice.text}}</p>
            <div class="moreInfoBlocks row m-0 justify-content-between align-items-center mt-3">
                <div class="d-flex align-items-center justify-content-start someInfo nameBlock">
                    <span>{{currentNotice.user.name}}</span>
                </div>
                <div class="d-flex align-items-center justify-content-start someInfo emailBlock">
                    <span>{{currentNotice.user.email}}</span>
                </div>
                <div class="d-flex align-items-center justify-content-start someInfo phoneBlock">
                    <span>{{currentNotice.user.phone}}</span>
                </div>
                <div class="d-flex align-items-center justify-content-start someInfo dateBlock">
                    <span>{{currentNotice.createdAt | date}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-12 mt-3 mt-md-0">
        <app-pay-notice-block></app-pay-notice-block>
    </div>
</div>