.myNotice {
  border-left: 1px solid rgba(51, 51, 51, 0.75);
  padding-left: 20px;
}
.myNotice .noticeHead {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  width: 100%;
  text-align: left;
}
.myNotice .someInfo {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.myNotice .someInfo:last-child {
  margin-right: 0;
}
