

<div class="row m-0 w-100 allNoticeBlock">
    <p class="m-0 mb-1 noticeTypeHeadingStyle">All Notice</p>

    <div class="d-flex flex-column w-100 mb-1 simpleNoticeBlocks" *ngFor="let notice of notices | paginate: { itemsPerPage: 10, currentPage: p };" id={{notice.id}} >
        <a class="w-100 text-left mb-2 mt-2 simpleNoticeHeding" routerLink="/home/published/{{notice.id}}" routerLinkActive="active" (click)="setActiveNotice(notice,i) "><span>{{ notice.title }}</span> <mat-icon>event_note</mat-icon></a>

        <p class="mb-3 simpleNoticeText">{{ notice.text }}</p>
    </div>

    <div class="d-flex align-items-center justify-content-center w-100 mt-3 mb-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

</div>