/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f7f7f7;
}
.fail-class {
  background: #fc0404;
  width: 400px;
}
@media (max-width: 767px) {
  .fail-class {
    width: 250px;
  }
}
.active {
  color: #fc7404;
}
.success-class {
  background: green;
  width: 400px;
}
@media (max-width: 767px) {
  .success-class {
    width: 250px;
  }
}
.success-class .mat-simple-snackbar,
.fail-class .mat-simple-snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 17px;
  line-height: 19px;
}
.ngx-pagination li {
  border-radius: 3px!important;
}
.restorePasswordModal {
  position: relative;
  width: 400px;
  height: 260px;
}
@media (max-width: 560px) {
  .restorePasswordModal {
    width: auto;
  }
}
.restorePasswordModal .closeRestoreModal {
  min-width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.restorePasswordModal .closeRestoreModal .closeIcon {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(255, 0, 0, 0.5);
  transition: all 0.3s;
}
.restorePasswordModal .closeRestoreModal .closeIcon:hover {
  transition: all 0.3s;
  color: #ff0000;
}
.restorePasswordModal .restoreText {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.restorePasswordModal .sendEmailBtn {
  width: 100%;
  height: 45px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  background: #66a3ff;
  font-size: 18px;
  line-height: 18px;
  outline: none;
}
.needDataToEnterClass {
  font-size: 18px;
  line-height: 22px;
  color: #fc0404;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}
.border-for-block {
  border-left: 1px solid rgba(51, 51, 51, 0.75);
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.allNoticeBlock,
.payNoticeBlock {
  padding: 10px 0px 10px 15px;
  border-left: 1px solid rgba(51, 51, 51, 0.75);
}
@media (max-width: 767px) {
  .allNoticeBlock,
  .payNoticeBlock {
    border-left: 0;
    padding: 0;
  }
}
.payNoticeBlock {
  position: sticky;
  top: 10px;
}
.simpleNoticeBlocks,
.payNoticeBlocks {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 10px;
}
.simpleNoticeBlocks a,
.payNoticeBlocks a {
  text-decoration: none;
}
.simpleNoticeBlocks:hover,
.payNoticeBlocks:hover {
  border-bottom: 0;
  box-shadow: 0px 0px 8px 0px #000000;
  border-radius: 5px;
}
.simpleNoticeHeding,
.payNoticeHeding {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.loadMoreNotice {
  width: 225px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background: #66a3ff;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}
.payNoticeText,
.simpleNoticeText {
  font-size: 16px;
  line-height: 19px;
}
.simpleNoticeText {
  height: 76px;
  overflow: hidden;
}
@media (max-width: 560px) {
  .simpleNoticeText {
    height: 40px;
  }
}
.noticeTypeHeadingStyle {
  padding-left: 10px;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}
