




<div class="contentBlock row m-0 mt-4 mb-4">

    <div class="col-lg-9 col-md-8 col-12 order-md-0 order-1">
        <app-all-notice-block></app-all-notice-block>
    </div>
    
    <div class="col-lg-3 col-md-4 col-12 mb-4 mb-md-0 order-md-1 order-0">
        <app-pay-notice-block></app-pay-notice-block>
    </div>
    
</div>