

.registerBlock{
    width: 100%;
    height: 70vh;

    @media (max-width: 767px) {
        height: auto;
    }

    .generalStatusStyle{
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        border-radius: 5px;
    }
    .registerCongrats{
        background-color: rgba(2, 77, 2, .7);
        color: rgba(253, 253, 253,1);
    }

    .errorStatus{
        background-color: rgba(219, 10, 10, .8);
        color: rgba(253, 253, 253,1);
    }

    form{
        position: relative;
        max-width: 400px;
        min-height: 360px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        padding: 20px 40px;
        border-left: 1px solid rgba(51, 51, 51, 0.75);
        background: rgba(255, 255, 255, 1);

        @media (max-width: 767px) {
            padding: 15px;
            border-left: 0;
            top: inherit;
            transform: inherit;
            margin: inherit;
            margin: 20px 0;
        }

        .formHeading{
            width: 100%;
            text-align: center;
            font-size: 20px;
            line-height: 22px;
            font-weight: 500;
            margin-bottom: 25px;
        }

        mat-form-field{
            width: 100%;
        }

        .logRegBtn{
            width: 125px;
            height: 45px;
            border: 0;
            border-radius: 5px;
            color: rgba(255, 255, 255, 1);
            background: rgba(102, 163, 255, 1);
            font-size: 16px;
            line-height: 18px;
            transition: all .3s;
            outline: none;

            &:hover{
                box-shadow: 0px 0px 5px 2px rgba(102,163,255,1);
                transition: all .3s;
            }
        }

        .restorePassword{
            border: 0;
            border-radius: 5px;
            outline: none;
        }
    }

    .requiredDataToEnterClass{
        font-size: 14px;
        color: rgba(51, 51, 51, 1);
    }
}