.registerBlock {
  width: 100%;
  height: 70vh;
}
@media (max-width: 767px) {
  .registerBlock {
    height: auto;
  }
}
.registerBlock .generalStatusStyle {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 5px;
}
.registerBlock .registerCongrats {
  background-color: rgba(2, 77, 2, 0.7);
  color: #fdfdfd;
}
.registerBlock .errorStatus {
  background-color: rgba(219, 10, 10, 0.8);
  color: #fdfdfd;
}
.registerBlock form {
  position: relative;
  max-width: 400px;
  min-height: 360px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 20px 40px;
  border-left: 1px solid rgba(51, 51, 51, 0.75);
  background: #ffffff;
}
@media (max-width: 767px) {
  .registerBlock form {
    padding: 15px;
    border-left: 0;
    top: inherit;
    transform: inherit;
    margin: inherit;
    margin: 20px 0;
  }
}
.registerBlock form .formHeading {
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 25px;
}
.registerBlock form mat-form-field {
  width: 100%;
}
.registerBlock form .logRegBtn {
  width: 125px;
  height: 45px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  background: #66a3ff;
  font-size: 16px;
  line-height: 18px;
  transition: all 0.3s;
  outline: none;
}
.registerBlock form .logRegBtn:hover {
  box-shadow: 0px 0px 5px 2px #66a3ff;
  transition: all 0.3s;
}
.registerBlock form .restorePassword {
  border: 0;
  border-radius: 5px;
  outline: none;
}
.registerBlock .requiredDataToEnterClass {
  font-size: 14px;
  color: #333333;
}
