

<div class="registerBlock">

    <form class="d-flex flex-column align-items-center justify-content-center" [formGroup]="registerForm" action="" method="POST">
        
        <h3 class="formHeading">Register</h3>
        <p class="generalStatusStyle registerCongrats mb-4" *ngIf="registerStatus">Thanks for registration in NOTICEWORLD</p>
        <p class="generalStatusStyle errorStatus mb-4" *ngIf="errorStatus">Emial or password is invalid</p>

        <span class="requiredDataToEnterClass mb-2 w-100 text-left">*Enter valid email.</span>

        <mat-form-field appearance="outline">
            <mat-label>Email:</mat-label>
            <input matInput placeholder="email@gmail.com" formControlName="registerEmail" type="email" required>
        </mat-form-field>

        <span class="requiredDataToEnterClass mb-2 w-100 text-left">*Password must contain 1-Lowercase, 1-Uppercase, 1-Number , at least 5 charts.</span>

        <mat-form-field appearance="outline">
            <mat-label>Password:</mat-label>
            <input matInput placeholder="Password" formControlName="registerPassword" type="password" required>
        </mat-form-field>

        <div class="w-100 row m-0 mb-1 align-items-center justify-content-between">
            <button class="logRegBtn w-100 d-flex align-items-center justify-content-center" [disabled]="!registerForm.valid" mat-raised-button (click)="registerAction()">Register</button>
        </div>

    </form>

</div>